<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex flex-column">
    <div>
      {{ event.name }}<small class="text-secondary me-3">#{{ event.id }}</small>
      <span class="badge text-bg-primary">{{ event.type | titlecase }}</span>
    </div>
    <div>
    <small class="text-secondary">↑ {{ event.priority }}</small>
    </div>
  </div>
  <div class="btn-group">
    <button [routerLink]="'/' + event.id" class="btn btn-sm btn-outline-secondary">Details</button>
    <button [routerLink]="'/' + event.id + '/edit'" [disabled]="event.type === 'ads' && !(eventService.canManageAdsEvents | async)" class="btn btn-sm btn-outline-secondary">Edit</button>
    <button (click)="deleteEvent()" [disabled]="event.type === 'ads' && !(eventService.canManageAdsEvents | async)" class="btn btn-sm btn-outline-danger">Delete</button>
  </div>
</div>
<div *ngIf="deleteError" class="d-flex justify-content-end">
  <small class="text-danger">Delete error: {{ deleteError }}</small>
</div>
