<div class="card">
  <ng-container *ngIf="notFound">
    <app-not-found></app-not-found>
  </ng-container>
  <ng-container *ngIf="!notFound">
    <div class="card-header">
      <h6 class="mb-0">Update event #{{ eventId }}</h6>
    </div>
    <div class="card-body">
      <loading *ngIf="!event"></loading>
      <app-event-form *ngIf="event" (submitFrom)="onSubmit($event)" [form]="event!" [error]="error"
                      [loading]="loading"></app-event-form>
    </div>
  </ng-container>
</div>
