<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-end">
      <div class="flex-grow-1 pe-5">
        <form (submit)="searchByName($event)">
          <div class="form-floating">
            <input [formControl]="searchForm" type="search" class="form-control form-control-sm" id="search"
                   placeholder="search">
            <label for="search">Search</label>
          </div>
        </form>
      </div>
      <div class="d-flex flex-column">
        <small class="text-secondary">Filter Type</small>
        <div class="btn-group" role="group">
          <button *ngFor="let type of filterableEventTypes" type="button"
                  [class.btn-primary]="pageQuery.filterType === type"
                  [class.btn-outline-primary]="pageQuery.filterType !== type" class="btn" (click)="filterByType(type)">
            {{type | titlecase}}
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-end">
      <div class="d-flex flex-column">
        <small class="text-secondary">Sort by</small>
        <div class="btn-group me-3" role="group">
          <button *ngFor="let field of sortableFields" type="button"
                  [class.btn-primary]="pageQuery.sort?.field === field"
                  [class.btn-outline-primary]="pageQuery.sort?.field !== field" class="btn" (click)="sortBy(field)">
            {{field | titlecase}}
            <app-sort-direction *ngIf="pageQuery.sort?.field === field"
                                [ascending]="pageQuery.sort!.ascending"></app-sort-direction>
          </button>
        </div>
      </div>
      <div *ngIf="events" class="d-flex align-items-end">
        <ngb-pagination [collectionSize]="events.meta.totalItems" [page]="events.meta.currentPage"
                        [pageSize]="events.meta.itemsPerPage" (pageChange)="fetchPage($event)">
        </ngb-pagination>
        <div class="ms-2">
          <small class="text-secondary">Page size</small>
          <select class="form-select" [value]="events.meta.itemsPerPage" (change)="changePageSize($event)">
            <option [value]="2">2</option>
            <option [value]="4">4</option>
            <option [value]="10">10</option>
            <option [value]="20">20</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <loading *ngIf="loading"></loading>
    <ng-container *ngIf="!loading">
      <button class="btn btn-primary mb-2">Create new</button>
      <ng-container *ngFor="let event of events!.data">
        <div class="border-bottom border-1 my-1"></div>
        <div class="px-1">
        <app-event-summary [event]="event"></app-event-summary>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

